<!doctype html>
<html>
  <head>
    <title>Shortlink</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/jumbotron-narrow.css">
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
